celery>=5.5.3
cloudinary>=1.44.1
django>=6.0.3
django-cors-headers>=4.9.0
django-redis>=6.0.0
django-unfold>=0.66.0
django-cloudinary-storage>=0.3.0
django-environ>=0.13.0
django-filter>=25.2
djangorestframework>=3.17.1
djangorestframework-simplejwt>=5.5.1
drf-spectacular>=0.29.0
flower>=2.0.1
gunicorn>=25.3.0
psycopg[binary]>=3.3.3
sentry-sdk>=2.40.0
whitenoise>=6.12.0
